.cart-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #09cfed;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.total-budget {
    text-align: center;
    background-color: #09cfed;
    padding: 1px 0;
    border-radius: 25px;
}